.container{
    width: 80%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
}

.box1{
    width: 22%;
    height: 40%;
    background-color: orange;

}

.box2{
    width: 75%;
    height: calc(100% - 300px);
    background-color: teal;
}